[submodule "esp32-s2-hmi-devkit-1/components/lvgl/lv_examples"]
	path = esp32-s2-hmi-devkit-1/components/lvgl/lv_examples
	url = https://github.com/lvgl/lv_examples.git
[submodule "esp32-s2-hmi-devkit-1/components/lvgl/lvgl"]
	path = esp32-s2-hmi-devkit-1/components/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "esp32-s2-hmi-devkit-1/tools/lvgl/lv_font_conv"]
	path = esp32-s2-hmi-devkit-1/tools/lvgl/lv_font_conv
	url = https://github.com/lvgl/lv_font_conv.git
[submodule "esp32-s2-hmi-devkit-1/tools/lvgl/lv_utils"]
	path = esp32-s2-hmi-devkit-1/tools/lvgl/lv_utils
	url = https://github.com/lvgl/lv_utils.git
[submodule "esp32-s2-hmi-devkit-1/components/esp-qcloud"]
	path = esp32-s2-hmi-devkit-1/components/esp-qcloud
	url = https://github.com/espressif/esp-qcloud.git
[submodule "esp32-s2-hmi-devkit-1/examples/freetype/main/freetype"]
	path = esp32-s2-hmi-devkit-1/examples/freetype/main/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "esp32-s2-kaluga-1/components/esp32-camera"]
	path = esp32-s2-kaluga-1/components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "esp32-s3-lcd-ev-board/components/lvgl"]
	path = esp32-s3-lcd-ev-board/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "esp32-s3-lcd-ev-board/examples/smart-panel/components/lvgl/lvgl"]
	path = esp32-s3-lcd-ev-board/examples/smart-panel/components/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
