menu "QWeather Configuration"
    config QWEATHER_REQUEST_KEY
        string "Request Key"
        default "REQUEST_KEY"
        help
            Set QWeather request key. You can add key at https://console.qweather.com/#/apps.
endmenu
