# CONFIG_EXAMPLE_LVGL_DEMOS_PARTIAL_MODE is not set
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_BSP_LCD_RGB_BUFFER_NUMS=2
CONFIG_BSP_LCD_RGB_BOUNCE_BUFFER_MODE=y
CONFIG_BSP_DISPLAY_LVGL_AVOID_TEAR=y
CONFIG_BSP_DISPLAY_LVGL_DIRECT_MODE=y
