menu "Bsp Configuration"
    menu "Bsp Camera"
        choice BSP_CAMERA_RESOLUTION
            prompt "Resolution of camera output frame"
            default BSP_CAMERA_RESOLUTION_800_480
            config BSP_CAMERA_RESOLUTION_800_480
                bool "800 x 480"
            config BSP_CAMERA_RESOLUTION_640_480
                bool "640 x 480"
        endchoice

        config BSP_CAMERA_FRAME_INDEX
            int
            default 1 if BSP_CAMERA_RESOLUTION_800_480
            default 2 if BSP_CAMERA_RESOLUTION_640_480

        config BSP_CAMERA_FRAME_WIDTH
            int
            default 800 if BSP_CAMERA_RESOLUTION_800_480
            default 640 if BSP_CAMERA_RESOLUTION_640_480

        config BSP_CAMERA_FRAME_HEIGHT
            int
            default 480 if BSP_CAMERA_RESOLUTION_800_480
            default 480 if BSP_CAMERA_RESOLUTION_640_480

        config BSP_CAMERA_BUFFER_SIZE
            int "Size of three buffers to storage camera output data(KB)"
            default 35

        choice BSP_CAMERA_FRAME_RATE
            prompt "Frame rate of camera output"
            default BSP_CAMERA_FRAME_RATE_15
            config BSP_CAMERA_FRAME_RATE_5
                bool "5"
            config BSP_CAMERA_FRAME_RATE_10
                bool "10"
            config BSP_CAMERA_FRAME_RATE_15
                bool "15"
            config BSP_CAMERA_FRAME_RATE_25
                bool "25"
            config BSP_CAMERA_FRAME_RATE_30
                bool "30"
        endchoice

        config BSP_CAMERA_FRAME_INTERVAL
            int
            default 2000000 if BSP_CAMERA_FRAME_RATE_5
            default 1000000 if BSP_CAMERA_FRAME_RATE_10
            default 666666  if BSP_CAMERA_FRAME_RATE_15
            default 400000  if BSP_CAMERA_FRAME_RATE_25
            default 333333  if BSP_CAMERA_FRAME_RATE_30

        config BSP_CAMERA_LOG
            bool "Enable output log"
            default n
    endmenu
endmenu